.marker-pin {
  position: relative;
  border-radius: 50%;
  border: 8px solid #ff0000;
  background-color: #ff0000;
  width: 8px;
  height: 8px;
}

.marker-pin::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  bottom: -30px;
  left: -6px;
  border: 10px solid transparent;
  border-top: 17px solid #ff0000;
  z-index: 14;
}

.marker-pin .marker-label {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -40%);
  z-index: 15;
  font-size: small;
  font-weight: 700;
  color: white;
}
